* {
    background-color: rgb(70, 62, 62);
    color: white;

}

.real-input { 
    border: 0;
    border-bottom: 1px solid rgb(255, 255, 255);
    display: inline-block;
    width: 75px;
    text-align: center;
  }